
<% if params[:search].present? %>
  <h2>Your result for <%= params[:search] %></h2>
<% else %>
  <h2>All buddies</h2>
<% end %>

<div class="grid">
  <% @buddies.each do |buddy| %>
    <%= link_to buddy_path(buddy) do %>
      <div class="buddy-card">
        <div>
          <%= image_tag buddy.photo, class: 'card-img' %>
          <h5 class="price">€<%= buddy.price_hour %></h5>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= buddy.name %></h5>
          <p class="card-text"><%= buddy.hobby %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
