<div class="container">
 <ul class="ul-navbar">
  <li><%= link_to "Browse all buddies", buddies_path %></li>
  <li class="link-list"><a href="#">Experiences</a></li>
  <li class="link-list"><a href="#">Suggested activities</a></li>
</ul>

  <div class="flex-container">
    <div class="flex-item">
      <div class="profil-display">
        <h2><%= @buddy.name %></h2>
        <p>I'm <%= @buddy.age %> years old.</p>
        <p>I identify myself as <%= @buddy.gender %></p>
        <p>I'm leaving in <%= @buddy.city %></p>
        <p>A bit about myself: </p>
        <p><%= @buddy.biography %></p>
        <p>I enjoy the <%= @buddy.hobby %></p>
      </div>
    </div>
    <div class="flex-item">
      <%# add picture %>
      <%# redirect to for the next step %>
      <button type="button" class="btn btn-primary btn-lg"><%= link_to "Book this buddy", new_buddy_booking_path(@buddy)%></button>
    </div>
  </div>
</div>
