<div class="container">
  <div class="flex-container">
    <div class="flex-item">
      <h2><%= @buddy.name %></h2>
      <p><%= @buddy.age %></p>
      <p><%= @buddy.gender %></p>
      <p><%= @buddy.city %></p>
      <p><%= @buddy.biography %></p>
      <p><%= @buddy.hobby %></p>
    </div>
    <div class="flex-item">
      <%# add picture %>
      <%# redirect to for the next step %>
      <%= link_to "Book this buddy", new_buddy_booking_path(@buddy)%>
    </div>
  </div>
</div>
