<div>
  <h1>Create a new booking</h1>
</div>
<div class="flex-container">
    <div class="flex-item">
      <div class="message_request">
        <%= simple_form_for [@buddy, @booking] do |f| %>
          <%= f.input :request_message %>
          <%= f.input :starts_at %>
          <%= f.input :ends_at %>
          <%= f.submit class:"btn btn-primary btn-lg outside_form" %>
        <% end %>
      </div>
    </div>
</div>
