
<div>
  <%= simple_form_for [@buddy, @booking], html: { class: "d-flex justify-content-between"} do |f| %>
    <div class="message_request">
      <%= f.input :request_message %>
      <%= f.input :starts_at %>
      <%= f.input :ends_at %>
    </div>
    <div class='button_position'>
      <%= f.submit class:"btn btn-primary btn-lg" %>
>>>>>>> main
    </div>
  <% end %>
</div>
