<div class="buddy-search-app">
  <form class="location-text">
    <input class="location-text" type="text" placeholder="Location">
  </form>
  <div>
    <i class="search-icon fa fa-search" style="font-size:16px;color:white"></i>
  </div>
</div>
<div>
  <%= simple_form_for [@buddy, @booking], html: { class: "d-flex justify-content-between"} do |f| %>
    <div class="message_request">
      <%= f.input :request_message %>
      <%= f.input :starts_at %>
      <%= f.input :ends_at %>
    </div>
    <div class='button_position'>
      <%= f.submit class:"btn btn-primary btn-lg" %>
    </div>
  <% end %>
</div>
